<div class="navbar navbar-default">

    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../assets/images/logoFlyin.jpg">
          </div>

          <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Flight Inventory
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Add Flight</a></li>
                    <li><a href="#">Flight Inventory details</a></li>
                   </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ebreez Rules
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Supplier Configuration</a></li>
                      <li><a href="#">Airline Restricions</a></li>
                      <li><a href="#">Amadeus Live Session Details</a></li>
                      <li><a href="#">Blocked Airlines</a></li>
                     </ul>
                  </li>
              <li><a href="#">Ebreez Rules</a></li>
              <li><a href="#">Bookings</a></li>
              <li><a href="#">Credit Balance</a></li>
            </ul>
          
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
            </ul>

    </div>

</div>
  
